*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body{
    font-family: "UTM AVO";
    color: #fff;
}

@font-face {
    font-family: UTM AVO;
    src: url("font/UTM\ AVO.TTF");
}

.row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.background{
    width: 100%;
    height: 100%;
    background-image: url("images/wellcome_header.jpg");
    position: fixed;
    z-index: -1;
}

.overlay::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #2356e8;
    opacity: 0.5;

}

.nav-r{
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding-top: 5vh;
}

nav a, i{
    color: #fff;
}

nav i{
    font-size: 3rem;
}

.container-fluid{
    width: 100%;
    position: relative;
    text-align: center;
}

.container{
    width: 80%;
    position: relative;
    text-align: center;
}

.well{
    padding-top: 25vh;
    margin-bottom: 20vh;
}

h1{
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 150px;
    margin-bottom: 15vh;

}

@media only screen and (max-width: 800px){
    /* For mobile phones */
    h1{
        font-size: 50px;
    }
}

.border-t-p{
    border-top: 2px solid #fff ;
    border-bottom: 2px solid #fff ;
}

@keyframes colorchange{
    0%{
        color: #d2d2d2;
    }
    100%{
        color: #fff;
    }
}

.arrow-down p{
    font-size: 30px;
}

.arrow-down i{
    font-size: 4rem;
    color: #fff;
    animation-name: colorchange;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.change-logo{
    margin-top: 10vh;
}

.change-logo h2{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.change-logo p{
    text-align: justify;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width:800px){
    .logo{
        flex-direction: column;
    }
}

.logo button{
    color: #fff;
    margin-top: 2vh;
    width: 10rem;
    height: 10rem;
    border-radius: 15%;
    border-width: 0;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.logo button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    box-shadow: 5px 5px 1px #000;
}


.btn-red{
    background-color: #ee2525;
}
.btn-blue{
    background-color: #2356e8;
}


.row-logo{
    height: 30vh;
    display: flex;
    align-items: center;
}

.logo-red{
    color: #ee2525;
}

.logo-blue{
    color: #2356e8;
}

.bg-opacity{
    background-color: rgba(255, 255, 255, 0.5);
}

.bg-opacity:hover{
    box-shadow: 0px 0px 1px 5px rgba(0, 0, 0, 0.3);
}
